 *{
    box-sizing: border-box;
}
body{
     background-image: url(employee.webp); 
     background-size: 50vh;
     overflow-y: hidden;
}
h1{
   color:white;
    background:linear-gradient(145deg,#0a2540, #00e5ff); 
    text-align: center; 
    font-weight: 300; font-family:  Arial, Helvetica, sans-serif; 
   margin: 10px 20px;
-webkit-background-clip: text;
 background-clip: text;
  font-weight: bolder;
}
input,textarea,select{
    padding: 8px;
     width: 250px;
      margin-bottom:8px ;
       border-radius: 5px;
        border: 1px solid rgb(207, 206, 206);
        outline: none;
        background-color: rgb(255, 255, 255);
}
input,textarea,select{
    transition: 0.3s;
}
input:focus,
textarea:focus,
select:focus{
     transition: 0.3s ease;
       box-shadow: 0 0 10px rgb(226, 54, 183); 
       border-color: rgb(225, 194, 255);
}
button{
   width: 150px;
    border: none;
     background:red; 
     color: white;
      padding: 10px;
       cursor: pointer;
}
button[type="submit"]:hover{
    background-color: green;
}
h3{
    margin-top: 1%; 
     text-align: left;
     font-size: 21px; 
}
.main-container{
margin: auto;
 padding: 15px;
width: 580px;
  background:rgba(250, 248, 233, 0.5);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.a1,.a2{
    display:flex;
}
.a,.b,.A,.B{
    display: block; 
}
.B1{
    border: 4px dotted yellowgreen;
}
.B2{
    border: 3px solid rgb(79, 180, 247);
}
.B1::placeholder{
color: yellowgreen;
 font-weight: 750;
}
.B2::placeholder{
    color: rgb(228, 79, 79);
     font-weight: 750;
}
p{
color: rgb(21, 69, 158);
margin: 0px 0px 5px 0px ;
font-weight: 800;
}
.c{
    display: flex;
}
.d{
    border: 2px solid grey;
     padding: 1px 2px;
      margin:0 auto;
}
.relocation{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
   width: 120px;
   height: 60px;
   margin-left: 50px;
   gap: 15px;
}
h4,label{
    font-size: 17px;
}