 label{
            font-weight: 600; font-size: medium;
        }
        fieldset{
            width: 400px; margin: auto; margin-top: 10%;
        }
        input,textarea{
            display: block; font-size: medium; font-weight: 580; 
             padding: 8px 10px; width: 400px; transition: shine 2s ease-in-out; margin-top: 10px; margin-bottom: 10px;
        }
        input:focus,textarea:focus{
          box-shadow: 0 0 15px palevioletred; border-radius: 20px; 
          background:linear-gradient(rgb(218, 207, 207),rgb(250, 117, 221));
          border: none; 
        }
        body{
            background-color: rgb(184, 225, 238);
        }
        legend{
            font-weight: 600;
        }
        button{
            width: 150px;  margin: auto; padding: 6px 0px; display: flex; text-align: center;
            justify-content: center; cursor: pointer;
        }
        button:hover{
            background: rgb(54, 202, 54); border-radius: 8px;
        }